body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.alert {
  text-align: center;
  font-size: 22px;
}

.container {
  display: block;
  align-content: center;
  justify-content: center;
}
/* pHour, textarea, saveBtn // this is what each hour contains*/
/* timeslot-div wraps the 3 elements above */
.timeslot-div {
  text-align: left;
  padding: 0;
}
.pHour {
  display: inline-block;
  position: relative;
  left: 1rem;
  bottom: 1.8rem;
  font-weight: 600;
  margin-right: 2rem;
}
.textarea0,
.textarea4,
.textarea5,
.textarea6,
.textarea7,
.textarea8 {
  margin-left: 0.55rem;
}

textarea {
  display: inline-block;
  margin: 0 auto;
  margin-top: 0.7rem;
  width: 80%;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-bottom: solid 1px black;
  padding: 0.8rem 0.5rem;
  word-wrap: break-word;
}
textarea:active {
  border: 1px solid aqua !important;
}
.saveBtnItem {
  display: inline-block;
  float: right;
  /* move all buttons up by decreasing margin-top */
  margin-top: 1.1rem;
  margin-right: 1rem;
  padding: 0.8rem;
  background-color: #00f2ff;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  border: none;
}
.saveBtnItem:active {
  background-color: #008a91;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
